@media (max-width: 1200px) {
  body .main-banner .banner-wrap {
    padding: 40px 0 97px 0;
    background-size: 530px 430px;
  }

  body .courses-main-block {
    background-size: 745px;
  }
  body .courses-main-block .statistics-block {
    padding: 40px;
  }
  body .courses-main-block .statistics-block .statistics-item {
    max-width: 160px;
  }
  body .courses-main-block .statistics-block .statistics-count {
    font-size: 40px;
  }
  body .courses-main-block .statistics-block .statistics-text {
    font-size: 20px;
    line-height: 20px;
  }
  body .courses-main-block .courses-block {
    padding-top: 290px;
  }
  body .courses-main-block .courses-block .courses-title {
    font-size: 28px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item {
    max-width: 300px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-prescription {
    font-size: 15px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-description {
    font-size: 25px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-type {
    font-size: 16px;
    width: 141px;
    height: 39px;
    margin-bottom: 20px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .small-discription-image img {
    max-width: 110px;
    height: 140px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-free-places {
    font-size: 15px;
  }

  body .bout-us {
    margin-top: 140px;
  }
  body .bout-us .about-us-img img {
    width: 383px;
    height: 533px;
  }
  body .bout-us .about-us-description-wrap {
    margin-left: 110px;
  }
  body .bout-us .about-us-description-wrap .about-us-title {
    font-size: 20px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-prescription {
    font-size: 24px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description {
    font-size: 20px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-more {
    font-size: 20px;
  }

  body .study .study-title {
    font-size: 30px;
    margin: 150px 0 55px;
  }
  body .study .study-wrap-courses {
    grid-gap: 30px;
  }
  body .study .study-wrap-courses .study-course-top {
    grid-gap: 28px;
  }
  body .study .study-wrap-courses .study-course-top .cosmetology-course,
body .study .study-wrap-courses .study-course-top .online-course {
    width: 465px;
    height: 207px;
  }
  body .study .study-wrap-courses .study-course-bottom {
    grid-gap: 30px;
  }
  body .study .study-wrap-courses .study-course-bottom .master-course,
body .study .study-wrap-courses .study-course-bottom .timetable-course,
body .study .study-wrap-courses .study-course-bottom .discount-course {
    width: 298px;
    height: 207px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap {
    padding: 20px;
  }
  body .study .study-wrap-courses .study-course .course-title {
    font-size: 25px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-main-description {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  body header .mobile-header {
    display: flex;
    justify-content: space-between;
    height: 94px;
    align-items: center;
  }
  body header .mobile-header .tel {
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }
  body header .mobile-header .tel:before {
    content: "";
    background-image: url("../images/header/header_tel.svg");
    width: 28px;
    height: 28px;
    top: 4px;
    left: -45px;
    position: absolute;
  }
  body header .header-desktop {
    display: none;
  }

  body .main-banner .banner-wrap {
    padding: 30px 15px;
    background-size: 355px 290px;
  }
  body .main-banner .banner-wrap .banner-text .prescription {
    font-size: 12px;
    font-weight: 500;
  }
  body .main-banner .banner-wrap .banner-text .main-text {
    font-size: 40px;
    font-weight: 700;
    max-width: 320px;
    line-height: 40px;
  }
  body .main-banner .banner-wrap .banner-text .description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 15px;
    max-width: 295px;
  }
  body .main-banner .banner-wrap .banner-buttons {
    margin-top: 20px;
    display: block;
  }
  body .main-banner .banner-wrap .banner-buttons .register {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 220px;
    height: 45px;
  }
  body .main-banner .banner-wrap .banner-buttons .learn-more {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 220px;
    height: 45px;
    color: #55A630;
    background-color: #fff;
    margin: 20px 0 0 0;
    border: 1px solid #55A630;
  }
  body .main-banner .banner-wrap .banner-buttons .register:hover,
body .main-banner .banner-wrap .banner-buttons .learn-more:hover {
    width: 220px;
    height: 45px;
  }

  body .courses-main-block {
    background-size: 535px;
  }
  body .courses-main-block .statistics-block {
    padding: 20px;
    margin-top: 30px;
  }
  body .courses-main-block .statistics-block .statistics-item {
    max-width: 120px;
  }
  body .courses-main-block .statistics-block .statistics-count {
    font-size: 25px;
    line-height: 45px;
  }
  body .courses-main-block .statistics-block .statistics-text {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
  }
  body .courses-main-block .courses-block {
    padding-top: 290px;
  }
  body .courses-main-block .courses-block .courses-title {
    font-size: 28px;
  }
  body .courses-main-block .courses-block .courses-slider-container {
    padding: 0;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item {
    max-width: 200px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-logo svg {
    width: 24px;
    height: 16px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-prescription {
    font-size: 10px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-description {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 6px;
    min-height: 36px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-type {
    font-size: 10px;
    width: 90px;
    height: 18px;
    margin-bottom: 11px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-date {
    font-size: 13px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-small-discription {
    font-size: 9px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .small-discription-image img {
    max-width: 73px;
    height: 84px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-free-places {
    font-size: 9px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-buttons .course-btn {
    font-size: 11px;
    height: 52px;
  }

  body .bout-us {
    margin-top: 100px;
  }
  body .bout-us .about-us-img img {
    width: 276px;
    height: 408px;
  }
  body .bout-us .about-us-description-wrap {
    margin-left: 54px;
  }
  body .bout-us .about-us-description-wrap .about-us-title,
body .bout-us .about-us-description-wrap .about-us-main-description,
body .bout-us .about-us-description-wrap .about-us-main-more {
    font-size: 15px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description .about-us-main-description-text {
    margin: 10px 0;
  }

  body .study .study-title {
    font-size: 25px;
    margin: 105px 0 50px;
  }
  body .study .study-wrap-courses {
    grid-gap: 20px;
  }
  body .study .study-wrap-courses .study-course-top {
    grid-gap: 42px;
  }
  body .study .study-wrap-courses .study-course-top .cosmetology-course,
body .study .study-wrap-courses .study-course-top .online-course {
    width: 312px;
    height: 148px;
  }
  body .study .study-wrap-courses .study-course-bottom {
    grid-gap: 20px;
  }
  body .study .study-wrap-courses .study-course-bottom .master-course,
body .study .study-wrap-courses .study-course-bottom .timetable-course,
body .study .study-wrap-courses .study-course-bottom .discount-course {
    width: 201px;
    height: 147px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap {
    padding: 15px;
  }
  body .study .study-wrap-courses .study-course .course-title {
    font-size: 18px;
    line-height: 20px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-main-description {
    margin-top: 25px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  body header .mobile-header {
    height: 60px;
  }
  body header .mobile-header .burger img {
    width: 30px;
    height: 15px;
  }
  body header .mobile-header .logo img {
    width: 45px;
    height: 45px;
  }
  body header .mobile-header .tel {
    font-size: 16px;
    font-weight: 500;
  }
  body header .mobile-header .tel:before {
    width: 14px;
    height: 14px;
    top: 4px;
    left: -25px;
    background: url(../images/header/header-tel-mobile.svg);
  }

  body .courses-main-block {
    background-size: 350px;
  }
  body .courses-main-block .statistics-block {
    padding: 20px;
    margin-top: -15px;
  }
  body .courses-main-block .statistics-block .statistics-item {
    max-width: 70px;
  }
  body .courses-main-block .statistics-block .statistics-count {
    font-size: 17px;
  }
  body .courses-main-block .statistics-block .statistics-text {
    font-size: 10px;
    line-height: 12px;
  }

  body .study .study-title {
    font-size: 20px;
    margin: 105px 0 50px;
  }
  body .study .study-wrap-courses {
    grid-gap: 20px;
  }
  body .study .study-wrap-courses .study-course-top {
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
  }
  body .study .study-wrap-courses .study-course-top .cosmetology-course,
body .study .study-wrap-courses .study-course-top .online-course {
    width: 290px;
    height: 148px;
  }
  body .study .study-wrap-courses .study-course-bottom {
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
  }
  body .study .study-wrap-courses .study-course-bottom .master-course,
body .study .study-wrap-courses .study-course-bottom .timetable-course,
body .study .study-wrap-courses .study-course-bottom .discount-course {
    width: 190px;
    height: 147px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap {
    padding: 10px;
  }
  body .study .study-wrap-courses .study-course .course-title {
    font-size: 18px;
    line-height: 20px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-main-description {
    margin-top: 25px;
    font-size: 12px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-title-arrow {
    display: none;
  }
}
@media (max-width: 630px) {
  body .main-banner .banner-wrap {
    padding: 20px 15px 33px 15px;
    background-size: 226px 192px;
  }
  body .main-banner .banner-wrap .banner-text .prescription {
    font-size: 8px;
    font-weight: 500;
  }
  body .main-banner .banner-wrap .banner-text .main-text {
    font-size: 24px;
    font-weight: 700;
    max-width: 190px;
    line-height: 25px;
  }
  body .main-banner .banner-wrap .banner-text .description {
    margin-top: 15px;
    font-size: 8px;
    line-height: 10px;
    max-width: 170px;
  }
  body .main-banner .banner-wrap .banner-buttons {
    margin-top: 15px;
  }
  body .main-banner .banner-wrap .banner-buttons .register {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 141px;
    height: 30px;
    font-size: 8px;
  }
  body .main-banner .banner-wrap .banner-buttons .learn-more {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 141px;
    height: 30px;
    color: #55A630;
    background-color: #fff;
    margin: 20px 0 0 0;
    border: 1px solid #55A630;
    font-size: 8px;
  }
  body .main-banner .banner-wrap .banner-buttons .register:hover,
body .main-banner .banner-wrap .banner-buttons .learn-more:hover {
    width: 141px;
    height: 30px;
  }

  body .bout-us {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
  body .bout-us .about-us-img {
    width: 354px;
    height: 167px;
    margin: 40px auto 23px;
    background: url(../images/about-us-mobile.png);
  }
  body .bout-us .about-us-img img {
    display: none;
  }
  body .bout-us .about-us-description-wrap {
    margin: 0;
  }
  body .bout-us .about-us-description-wrap .about-us-main-more {
    display: none;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description {
    margin-top: 40px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description .about-us-main-description-text {
    margin: 10px 0;
  }
  body .bout-us .about-us-more-mobile {
    display: flex;
    justify-content: flex-end;
    color: #55A630;
    font-size: 14px;
  }
  body .bout-us .about-us-more-mobile .about-us-arrow {
    margin-left: 15px;
  }

  body .study .study-title {
    margin: 80px 0 40px;
  }
  body .study .study-wrap-courses {
    grid-gap: 10px;
  }
  body .study .study-wrap-courses .study-course-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .study .study-wrap-courses .study-course-top .cosmetology-course,
body .study .study-wrap-courses .study-course-top .online-course {
    width: 380px;
    height: 148px;
  }
  body .study .study-wrap-courses .study-course-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px;
  }
  body .study .study-wrap-courses .study-course-bottom .master-course,
body .study .study-wrap-courses .study-course-bottom .timetable-course {
    width: 185px;
    height: 147px;
  }
  body .study .study-wrap-courses .study-course-bottom .discount-course {
    width: 380px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap {
    padding: 10px;
  }
  body .study .study-wrap-courses .study-course .course-title {
    font-size: 18px;
    line-height: 20px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-main-description {
    margin-top: 25px;
    font-size: 12px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-title-arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  body header .mobile-header {
    height: 60px;
  }
  body header .mobile-header .burger img {
    width: 30px;
    height: 15px;
  }
  body header .mobile-header .logo img {
    width: 45px;
    height: 45px;
  }
  body header .mobile-header .tel {
    display: none;
  }

  body .main-banner .banner-wrap {
    padding: 12px 15px 188px 15px;
    background-size: 231px 196px;
    background-position: center bottom;
  }
  body .main-banner .banner-wrap .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body .main-banner .banner-wrap .banner-text .prescription {
    font-size: 10px;
    font-weight: 500;
  }
  body .main-banner .banner-wrap .banner-text .main-text {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    max-width: 190px;
    line-height: 28px;
  }
  body .main-banner .banner-wrap .banner-text .description {
    margin-top: 15px;
    font-size: 10px;
    line-height: 12px;
    max-width: 240px;
  }
  body .main-banner .banner-wrap .banner-buttons {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main-banner .banner-wrap .banner-buttons .register {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 141px;
    height: 30px;
    font-size: 10px;
  }
  body .main-banner .banner-wrap .banner-buttons .learn-more {
    width: 285px;
    height: 66px;
    background-color: #55A630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    width: 141px;
    height: 30px;
    color: #55A630;
    background-color: #fff;
    margin: 8px 0 0 0;
    border: 1px solid #55A630;
    font-size: 10px;
  }
  body .main-banner .banner-wrap .banner-buttons .register:hover,
body .main-banner .banner-wrap .banner-buttons .learn-more:hover {
    width: 141px;
    height: 30px;
  }

  body .courses-main-block {
    background: none;
  }
  body .courses-main-block .statistics-block {
    padding: 20px;
    margin-top: -50px;
    flex-direction: column;
    width: 50%;
    left: 25%;
  }
  body .courses-main-block .statistics-block .statistics-item {
    flex-direction: row;
    max-width: none;
    justify-content: space-around;
  }
  body .courses-main-block .statistics-block .statistics-count {
    font-size: 17px;
  }
  body .courses-main-block .statistics-block .statistics-text {
    font-size: 10px;
    line-height: 12px;
    max-width: 65px;
  }
  body .courses-main-block .courses-block {
    padding-top: 290px;
  }
  body .courses-main-block .courses-block .courses-title {
    font-size: 28px;
  }
  body .courses-main-block .courses-block .courses-slider-container {
    padding: 0;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item {
    max-width: 200px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-logo svg {
    width: 24px;
    height: 16px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-prescription {
    font-size: 10px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-description {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 6px;
    min-height: 36px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-type {
    font-size: 10px;
    width: 90px;
    height: 18px;
    margin-bottom: 11px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-date {
    font-size: 13px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-small-discription {
    font-size: 9px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .small-discription-image img {
    max-width: 73px;
    height: 84px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-item-wrap .course-free-places {
    font-size: 9px;
  }
  body .courses-main-block .courses-block .courses-slider-container .courses-item .course-buttons .course-btn {
    font-size: 11px;
    height: 52px;
  }

  body .bout-us {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
  body .bout-us .about-us-img {
    width: 280px;
    height: 154px;
    margin: 40px auto 23px;
    background: url(../images/about-us-mobile.png);
  }
  body .bout-us .about-us-description-wrap {
    margin: 0;
    text-align: center;
  }
  body .bout-us .about-us-description-wrap .about-us-main-prescription {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description {
    margin-top: 40px;
  }
  body .bout-us .about-us-description-wrap .about-us-main-description .about-us-main-description-text {
    margin: 10px 0;
  }
  body .bout-us .about-us-more-mobile {
    justify-content: space-around;
  }

  body .study .study-wrap-courses .study-course-top .cosmetology-course,
body .study .study-wrap-courses .study-course-top .online-course {
    width: 280px;
  }
  body .study .study-wrap-courses .study-course-bottom .master-course,
body .study .study-wrap-courses .study-course-bottom .timetable-course {
    width: 135px;
  }
  body .study .study-wrap-courses .study-course-bottom .discount-course {
    width: 280px;
  }
  body .study .study-wrap-courses .study-course .course-title {
    font-size: 14px;
    line-height: 20px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-main-description {
    margin-top: 25px;
    font-size: 9px;
  }
  body .study .study-wrap-courses .study-course .study-course-wrap:hover .course-title-arrow {
    display: none;
  }
}

/*# sourceMappingURL=responsive.css.map */
