//@import 'swiper/css/bundle';
@import 'mixins.scss';

@media(max-width: 1200px){
  body .main-banner .banner-wrap{
    padding: 40px 0 97px 0;
    background-size: 530px 430px;
  }
  body .courses-main-block{
    background-size: 745px;

    .statistics-block{
      padding: 40px;

      .statistics-item{
        max-width: 160px;
      }
      .statistics-count{
        font-size: 40px;
      }
      .statistics-text{
        font-size: 20px;
        line-height: 20px;
      }
    }

    .courses-block{
      padding-top: 290px;

      .courses-title{
        font-size: 28px;
      }
      .courses-slider-container{
        .courses-item{
          max-width: 300px;

          .course-item-wrap .course-prescription{font-size: 15px}
          .course-item-wrap .course-description{font-size: 25px}
          .course-item-wrap .course-type{
            font-size: 16px;
            width: 141px;
            height: 39px;
            margin-bottom: 20px;
          }
          .course-item-wrap .small-discription-image img{
            max-width: 110px;
            height: 140px;
          }
          .course-item-wrap .course-free-places{font-size: 15px;}
        }
      }
    }

  }
  body .bout-us{
    margin-top: 140px;

    .about-us-img img{
      width: 383px;
      height: 533px;
    }
    .about-us-description-wrap{
      margin-left: 110px;

      .about-us-title{
        font-size: 20px;
      }
      .about-us-main-prescription{
        font-size: 24px;
      }
      .about-us-main-description{
        font-size: 20px;
      }
      .about-us-main-more{
        font-size: 20px;
      }
    }
  }
  body .study{
    .study-title{
      font-size: 30px;
      margin: 150px 0 55px;
    }
    .study-wrap-courses{
      grid-gap: 30px;

      .study-course-top{
        grid-gap: 28px;

        .cosmetology-course,
        .online-course{
          width: 465px;
          height: 207px;
        }
      }
      .study-course-bottom{
        grid-gap: 30px;

        .master-course,
        .timetable-course,
        .discount-course{
          width: 298px;
          height: 207px;
        }
      }
      .study-course{
        .study-course-wrap{
          padding: 20px;
        }
        .course-title{
          font-size: 25px;
        }
        .study-course-wrap:hover{
          .course-main-description{
            margin-top: 40px;
          }
        }
      }
    }
  }
}

@media(max-width:991px){
  body header{
    .mobile-header{
      display: flex;
      justify-content: space-between;
      height: 94px;
      align-items: center;

      .tel{
        position: relative;
        font-size: 20px;
        font-weight: 500;
      }
      .tel:before{
        content: "";
        background-image: url("../images/header/header_tel.svg");
        width: 28px;
        height: 28px;
        top: 4px;
        left: -45px;
        position: absolute;
      }
    }

    .header-desktop{
      display: none;
    }
  }
  body .main-banner .banner-wrap{
    padding: 30px 15px;
    background-size: 355px 290px;

    .banner-text .prescription{
      font-size: 12px;
      font-weight: 500;
    }
    .banner-text .main-text{
      font-size: 40px;
      font-weight: 700;
      max-width: 320px;
      line-height: 40px;
    }
    .banner-text .description{
      margin-top: 5px;
      font-size: 14px;
      line-height: 15px;
      max-width: 295px;
    }
    .banner-buttons{
      margin-top: 20px;
      display: block;

      .register{
        @include green-button;
        width: 220px;
        height: 45px;
      }
      .learn-more{
        @include green-button;
        width: 220px;
        height: 45px;
        color: $green;
        background-color: #fff;
        margin: 20px 0 0 0;
        border: 1px solid $green;
      }
      .register:hover,
      .learn-more:hover{
        width: 220px;
        height: 45px;
      }
    }
  }
  body .courses-main-block{
    background-size: 535px;

    .statistics-block{
      padding: 20px;
      margin-top: 30px;

      .statistics-item{
        max-width: 120px;
      }
      .statistics-count{
        font-size: 25px;
        line-height: 45px;
      }
      .statistics-text{
        font-size: 13px;
        line-height: 15px;
        margin: 0;
      }
    }

    .courses-block{
      padding-top: 290px;

      .courses-title{
        font-size: 28px;
      }
      .courses-slider-container{
        padding: 0;
        .courses-item{
          max-width: 200px;
          .course-item-wrap .course-logo svg{
            width: 24px;
            height: 16px;
          }
          .course-item-wrap .course-prescription{font-size: 10px}
          .course-item-wrap .course-description{
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 6px;
            min-height: 36px;
          }
          .course-item-wrap .course-type{
            font-size: 10px;
            width: 90px;
            height: 18px;
            margin-bottom: 11px;
          }
          .course-item-wrap .course-date{font-size: 13px;}
          .course-item-wrap .course-small-discription{font-size: 9px}
          .course-item-wrap .small-discription-image img{
            max-width: 73px;
            height: 84px;
          }
          .course-item-wrap .course-free-places{font-size: 9px;}
          .course-buttons .course-btn {
            font-size: 11px;
            height: 52px;
          }
        }
      }
    }
  }
  body .bout-us{
    margin-top: 100px;
    .about-us-img img{
      width: 276px;
      height: 408px;
    }
    .about-us-description-wrap{
      margin-left: 54px;

      .about-us-title,
      .about-us-main-description,
      .about-us-main-more{
        font-size: 15px;
      }

      .about-us-main-description .about-us-main-description-text{
        margin: 10px 0;
      }
    }
  }
  body .study{
    .study-title{
      font-size: 25px;
      margin: 105px 0 50px;
    }
    .study-wrap-courses{
      grid-gap: 20px;

      .study-course-top{
        grid-gap: 42px;

        .cosmetology-course,
        .online-course{
          width: 312px;
          height: 148px;
        }
      }
      .study-course-bottom{
        grid-gap: 20px;

        .master-course,
        .timetable-course,
        .discount-course{
          width: 201px;
          height: 147px;
        }
      }
      .study-course{
        .study-course-wrap{
          padding: 15px;
        }
        .course-title{
          font-size: 18px;
          line-height: 20px;
        }
        .study-course-wrap:hover{
          .course-main-description{
            margin-top: 25px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body header .mobile-header{
    height: 60px;
    .burger img{
      width: 30px;
      height: 15px;
    }
    .logo img{
      width: 45px;
      height: 45px;
    }
    .tel{
      font-size: 16px;
      font-weight:500
    }
    .tel:before{
      width: 14px;
      height: 14px;
      top: 4px;
      left: -25px;
      background: url(../images/header/header-tel-mobile.svg)
    }
  }
  body .courses-main-block{
    background-size: 350px;

    .statistics-block{
      padding: 20px;
      margin-top: -15px;

      .statistics-item{
        max-width: 70px;
      }
      .statistics-count{
        font-size: 17px;
      }
      .statistics-text{
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
  body .study{
    .study-title{
      font-size: 20px;
      margin: 105px 0 50px;
    }
    .study-wrap-courses{
      grid-gap: 20px;

      .study-course-top{
        display: flex;
        justify-content: space-between;
        grid-gap: 10px;

        .cosmetology-course,
        .online-course{
          width: 290px;
          height: 148px;
        }
      }
      .study-course-bottom{
        display: flex;
        justify-content: space-between;
        grid-gap: 10px;

        .master-course,
        .timetable-course,
        .discount-course{
          width: 190px;
          height: 147px;
        }
      }
      .study-course{
        .study-course-wrap{
          padding: 10px;
        }
        .course-title{
          font-size: 18px;
          line-height: 20px;
        }
        .study-course-wrap:hover{
          .course-main-description{
            margin-top: 25px;
            font-size: 12px;
          }
          .course-title-arrow{
            display: none;
          }
        }
      }
    }
  }
}
@media(max-width: 630px){
  body .main-banner .banner-wrap{
    padding: 20px 15px 33px 15px;
    background-size: 226px 192px;

    .banner-text .prescription{
      font-size: 8px;
      font-weight: 500;
    }
    .banner-text .main-text{
      font-size: 24px;
      font-weight: 700;
      max-width: 190px;
      line-height: 25px;
    }
    .banner-text .description{
      margin-top: 15px;
      font-size: 8px;
      line-height: 10px;
      max-width: 170px;
    }
    .banner-buttons{
      margin-top: 15px;

      .register{
        @include green-button;
        width: 141px;
        height: 30px;
        font-size: 8px;
      }
      .learn-more{
        @include green-button;
        width: 141px;
        height: 30px;
        color: $green;
        background-color: #fff;
        margin: 20px 0 0 0;
        border: 1px solid $green;
        font-size: 8px;
      }
      .register:hover,
      .learn-more:hover{
        width: 141px;
        height: 30px;
      }
    }
  }
  body .bout-us{
    margin-top: 80px;
    flex-direction: column-reverse;
    .about-us-img{
      width: 354px;
      height: 167px;
      margin: 40px auto 23px;
      background: url(../images/about-us-mobile.png)
    }
    .about-us-img img{
      display: none;
    }
    .about-us-description-wrap{
      margin: 0;

      .about-us-main-more{
        display: none;
      }
      .about-us-main-description{
        margin-top: 40px;
      }
      .about-us-main-description .about-us-main-description-text{
        margin: 10px 0;
      }
    }
    .about-us-more-mobile{
      display: flex;
      justify-content: flex-end;
      color: $green;
      font-size: 14px;
      .about-us-arrow{
        margin-left: 15px;
      }
    }
  }
  body .study{
    .study-title{
      margin: 80px 0 40px;
    }
    .study-wrap-courses{
      grid-gap: 10px;

      .study-course-top{
        display: flex;
        flex-direction: column;
        align-items: center;

        .cosmetology-course,
        .online-course,{
          width: 380px;
          height: 148px;
        }
      }
      .study-course-bottom{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 10px;

        .master-course,
        .timetable-course{
          width: 185px;
          height: 147px;
        }
        .discount-course{
          width: 380px;
        }
      }
      .study-course{
        .study-course-wrap{
          padding: 10px;
        }
        .course-title{
          font-size: 18px;
          line-height: 20px;
        }
        .study-course-wrap:hover{
          .course-main-description{
            margin-top: 25px;
            font-size: 12px;
          }
          .course-title-arrow{
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body header .mobile-header{
    height: 60px;
    .burger img{
      width: 30px;
      height: 15px;
    }
    .logo img{
      width: 45px;
      height: 45px;
    }
    .tel{
      display: none;
    }
  }
  body .main-banner .banner-wrap{
    padding: 12px 15px 188px 15px;
    background-size: 231px 196px;
    background-position: center bottom;

    .banner-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .banner-text .prescription{
      font-size: 10px;
      font-weight: 500;
    }
    .banner-text .main-text{
      display: flex;
      font-size: 30px;
      font-weight: 700;
      max-width: 190px;
      line-height: 28px;
    }
    .banner-text .description{
      margin-top: 15px;
      font-size: 10px;
      line-height: 12px;
      max-width: 240px;
    }
    .banner-buttons{
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .register{
        @include green-button;
        width: 141px;
        height: 30px;
        font-size: 10px;
      }
      .learn-more{
        @include green-button;
        width: 141px;
        height: 30px;
        color: $green;
        background-color: #fff;
        margin: 8px 0 0 0;
        border: 1px solid $green;
        font-size: 10px;
      }
      .register:hover,
      .learn-more:hover{
        width: 141px;
        height: 30px;
      }
    }
  }
  body .courses-main-block{
    background: none;

    .statistics-block{
      padding: 20px;
      margin-top: -50px;
      flex-direction: column;
      width: 50%;
      left: 25%;

      .statistics-item{
        flex-direction: row;
        max-width: none;
        justify-content: space-around;

      }
      .statistics-count{
        font-size: 17px;
      }
      .statistics-text{
        font-size: 10px;
        line-height: 12px;
        max-width:65px;
      }
    }

    .courses-block{
      padding-top: 290px;

      .courses-title{
        font-size: 28px;
      }
      .courses-slider-container{
        padding: 0;
        .courses-item{
          max-width: 200px;
          .course-item-wrap .course-logo svg{
            width: 24px;
            height: 16px;
          }
          .course-item-wrap .course-prescription{font-size: 10px}
          .course-item-wrap .course-description{
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 6px;
            min-height: 36px;
          }
          .course-item-wrap .course-type{
            font-size: 10px;
            width: 90px;
            height: 18px;
            margin-bottom: 11px;
          }
          .course-item-wrap .course-date{font-size: 13px;}
          .course-item-wrap .course-small-discription{font-size: 9px}
          .course-item-wrap .small-discription-image img{
            max-width: 73px;
            height: 84px;
          }
          .course-item-wrap .course-free-places{font-size: 9px;}
          .course-buttons .course-btn {
            font-size: 11px;
            height: 52px;
          }
        }
      }
    }
  }
  body .bout-us{
    margin-top: 80px;
    flex-direction: column-reverse;
    .about-us-img{
      width: 280px;
      height: 154px;
      margin: 40px auto 23px;
      background: url(../images/about-us-mobile.png)
    }

    .about-us-description-wrap{
      margin: 0;
      text-align: center;

      .about-us-main-prescription{
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
      }
      .about-us-main-description{
        margin-top: 40px;
      }
      .about-us-main-description .about-us-main-description-text{
        margin: 10px 0;
      }
    }
    .about-us-more-mobile {
      justify-content: space-around;
    }
  }
  body .study{

    .study-wrap-courses{

      .study-course-top{

        .cosmetology-course,
        .online-course,{
          width: 280px;
        }
      }
      .study-course-bottom{

        .master-course,
        .timetable-course{
          width: 135px;
        }
        .discount-course{
          width: 280px;
        }
      }
      .study-course{

        .course-title{
          font-size: 14px;
          line-height: 20px;
        }
        .study-course-wrap:hover{
          .course-main-description{
            margin-top: 25px;
            font-size: 9px;
          }
          .course-title-arrow{
            display: none;
          }
        }
      }
    }
  }
}