@import 'node_modules/swiper/swiper-bundle.min.css';
.container:before,
.container:after {
  content: none;
}

body {
  box-sizing: border-box;
  color: #424242;
}
body header .mobile-header {
  display: none;
}
body header .header-top {
  border-bottom: 1px solid #B7ECB1;
}
body header .header-top .container {
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}
body header .header-top .container .header-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
body header .header-top .container .header-info .telephone {
  position: relative;
  font-size: 25px;
  font-weight: 500;
}
body header .header-top .container .header-info .telephone:before {
  content: "";
  background-image: url("../images/header/header_tel.svg");
  width: 28px;
  height: 28px;
  top: 4px;
  left: -45px;
  position: absolute;
}
body header .header-top .container .header-info .accounts {
  display: flex;
  margin: 0 66px 0 58px;
}
body header .header-top .container .header-info .accounts .facebook {
  margin-right: 25px;
}
body header .header-top .container .header-info .languages {
  position: relative;
}
body header .header-top .container .header-info .languages:after {
  content: "";
  width: 11px;
  height: 7px;
  top: 18px;
  left: 50px;
  position: absolute;
  background: url(../images/header/arrow.svg);
}
body header .menu {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 68px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
body header .menu a {
  color: #424242;
  text-decoration: none;
}
body .main-banner {
  background: url(../images/banner/banner_fon.jpg);
}
body .main-banner .banner-wrap {
  background: url(../images/banner/banner_nurses.png) right bottom;
  background-repeat: no-repeat;
  padding: 70px 0 138px 0;
}
body .main-banner .banner-wrap .banner-text .prescription {
  font-size: 20px;
  font-weight: 500;
}
body .main-banner .banner-wrap .banner-text .main-text {
  font-size: 65px;
  font-weight: 700;
  max-width: 500px;
  color: #55A630;
  line-height: 65px;
}
body .main-banner .banner-wrap .banner-text .description {
  margin-top: 20px;
  font-size: 20px;
  line-height: 23px;
  max-width: 420px;
}
body .main-banner .banner-wrap .banner-buttons {
  margin-top: 57px;
  display: flex;
  justify-content: flex-start;
}
body .main-banner .banner-wrap .banner-buttons a {
  text-decoration: none;
}
body .main-banner .banner-wrap .banner-buttons .register {
  width: 285px;
  height: 66px;
  background-color: #55A630;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}
body .main-banner .banner-wrap .banner-buttons .register:hover {
  color: #55A630;
  background-color: #fff;
  border: 1px solid #55A630;
  transition: 0.5s linear;
}
body .main-banner .banner-wrap .banner-buttons .learn-more {
  width: 285px;
  height: 66px;
  background-color: #55A630;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
  color: #55A630;
  background-color: #fff;
  margin-left: 20px;
  border: 1px solid #55A630;
}
body .main-banner .banner-wrap .banner-buttons .learn-more:hover {
  width: 285px;
  height: 66px;
  background-color: #55A630;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
  transition: 0.5s linear;
}
body .courses-main-block {
  position: relative;
  background: url(../images/courses/matrix-web.png) top right no-repeat;
}
body .courses-main-block .statistics-block {
  position: absolute;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.15);
  margin: -25px auto 0;
  z-index: 2;
}
body .courses-main-block .statistics-block .statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}
body .courses-main-block .statistics-block .statistics {
  font-size: 45px;
  font-weight: 700;
  line-height: 32px;
  color: #55A630;
}
body .courses-main-block .statistics-block .statistics-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
}
body .courses-main-block .courses-block {
  padding-top: 360px;
}
body .courses-main-block .courses-block .courses-title {
  text-align: center;
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 75px;
}
body .courses-main-block .courses-block .courses-slider-container .courses-item {
  background-color: #fff;
  width: max-content;
}

/*# sourceMappingURL=style.css.map */
