@import 'mixins.scss';

.container:before,
.container:after{
  content: none;
}
*a:hover{text-decoration: none}


body{
  box-sizing: border-box;
  color: $dark-grey;

  header{
    .mobile-header{display: none}

    .header-top{
      border-bottom: 1px solid $light-green;

      .container{
        display: flex;
        justify-content: space-between;
        height: 85px;
        align-items: center;

        .header-logo{}
        .header-info{
          display: flex;
          align-items: center;
          margin-right: 20px;

          .telephone{
            position: relative;
            font-size: 25px;
            font-weight: 500;
          }
          .telephone:before{
            content: "";
            background-image: url("../images/header/header_tel.svg");
            width: 28px;
            height: 28px;
            top: 4px;
            left: -45px;
            position: absolute;
          }
          .accounts{
            display:flex;
            margin: 0 66px 0 58px;

            .facebook{margin-right: 25px}
          }
          .languages{position: relative;}
          .languages:after{
            content: '';
            width: 11px;
            height: 7px;
            top: 18px;
            left: 50px;
            position: absolute;
            background: url(../images/header/arrow.svg)
          }
        }
      }
    }

    .menu{
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: space-between;
      height: 68px;
      align-items: center;
      font-size: 16px;
      font-weight: 500;

      a{
        color: #424242;
        text-decoration: none;
      }
    }

  }

  .main-banner{
    background: url(../images/banner/banner_fon.jpg);
    .banner-wrap{
      background: url(../images/banner/banner_nurses.png) right bottom;
      background-repeat: no-repeat;
      padding: 70px 0 138px 0;

      .banner-text{
        .prescription{
          font-size: 20px;
          font-weight: 500;
        }
        .main-text{
          font-size: 65px;
          font-weight: 700;
          max-width: 500px;
          color: $green;
          line-height: 65px;
        }
        .description{
          margin-top: 20px;
          @include text-description;
          max-width: 420px;
        }
      }
      .banner-buttons{
        margin-top: 57px;
        display: flex;
        justify-content: flex-start;

        a{text-decoration: none}

        .register{
          @include green-button;
        }
        .register:hover{
          color: $green;
          background-color: #fff;
          border: 1px solid $green;
          transition: 0.5s linear;
        }
        .learn-more{
          @include green-button;
          color: $green;
          background-color: #fff;
          margin-left: 20px;
          border: 1px solid $green;
        }
        .learn-more:hover{
          @include green-button;
          transition: 0.5s linear;
        }
      }
    }
  }

  .courses-main-block{
    position: relative;
    background: url(../images/courses/matrix-web.png) top right no-repeat;
    .statistics-block{
      position: absolute;
      background-color: #fff;
      padding: 50px;
      display: flex;
      justify-content: space-between;
      width: 80%;
      left: 10%;
      box-shadow: 0px 13px 19px rgb(0 0 0 / 15%);
      margin: -25px auto 0;
      z-index: 2;

      .statistics-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        text-align: center;
      }
      .statistics-count{
        font-size: 45px;
        font-weight: 700;
        line-height: 32px;
        color: $green;
      }
      .statistics-text{
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 15px
      }
    }
    .courses-block{
      padding-top: 360px;

      .courses-title{
        text-align: center;
        font-size: 35px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 75px;
      }
      .courses-slider-container{
        padding: 50px 0;

        .courses-item{
          background-color: #fff;
          max-width: 360px;
          box-shadow: 0px 13px 19px rgb(0 0 0 / 15%);

          .course-item-wrap{
            padding: 16px;

            .about-course{
              display: flex;
              justify-content: space-between;
            }
            .course-description{
              font-size: 30px;
              font-weight: 600;
              line-height: 30px;
              min-height: 64px;
              margin-bottom: 23px;
            }
            .course-description-online{color: $green;}
            .course-description-offline{color: $course-blue;}
            .course-description-master{color: $course-sea_color}
            .course-type{
              max-width: 166px;
              height: 39px;
              color: #fff;
              border-radius: 9px;
              font-size: 20px;
              font-weight: 600;
              line-height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 24px;
            }
            .course-type-offline{background-color: $course-blue;}
            .course-type-online{background-color: $green;}
            .course-type-master{background-color: $course-sea_color}
            .course-date{
              @include text-description;
            }
            .course-small-discription{
              display: flex;
              justify-content: space-between;
              margin-bottom: 50px;
              max-height: 159px;

              .small-description-wrap{
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
              }
              .small-discription{
                padding: 2px 50px 2px 5px;
              }
              .small-discription-offline{border-left: 2px solid $course-blue;}
              .small-discription-online{border-left: 2px solid $green;}
              .small-discription-master{border-left: 2px solid $course-sea_color;}
            }
            .course-free-places{
              color: $dark-grey;
              @include text-description;
              font-size: 18px;
            }
          }

          .course-buttons{
            .course-register,
            course-detail{
              width: 100%;
            }
            .course-btn{
              width: 100%;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include text-description;
              line-height: 26px;
              color: #fff;
            }
            .offline-btn{background-color: $course-blue;}
            .online-btn{background-color: $green;}
            .master-btn{background-color: $course-sea_color;}
            //.details-block{opacity: 10%;}
            .details-block.offline-btn{
              background-color: #ebeaf9;
              color: $course-blue;
            }
            .details-block.online-btn{
              background-color: #eaf6e4;
              color: $green
            }
            .details-block.master-btn{
              background-color: #ddf6f4;
              color: $course-sea_color;
            }

          }

        }
      }
    }
  }

  .bout-us{
     margin-top: 175px;
     display: flex;
     justify-content: space-between;

    .about-us-more-mobile{
      display: none;
    }

     .about-us-img img{
       width: 590px;
       height: 666px;
     }
     .about-us-description-wrap{
       margin-left: 120px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;

       .about-us-title{
         @include text-about-us;
         color: #858585;
       }
       .about-us-main-prescription{
         //margin: 30px 0 75px;
         font-size: 35px;
         line-height: 110%;
         font-weight: 700;

         .about-us-main-title{
           color: $green;
           display: block;
         }
       }
       .about-us-main-description{
         @include text-about-us;
         color: $dark-grey;

         span{
           display: block;
         }
         .about-us-main-description-text{
           margin: 30px 0;
         }

       }
       .about-us-main-more{
        @include text-about-us;
         color: $green;
       }
     }
   }

  .study{
    .study-title{
      font-size: 35px;
      font-weight: 600;
      margin: 170px 0 75px;
      text-align: center;
    }
    .study-wrap-courses{
      display: grid;
      grid-gap: 55px;

      .study-course-top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        .cosmetology-course{
          background: url(../images/study/cosmetology.png);
          width: 560px;
          height: 260px;
        }
        .online-course{
          background: url(../images/study/online.png);
          width: 560px;
          height: 260px;
        }
      }

      .study-course-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .master-course,
        .timetable-course,
        .discount-course{
          width: 364px;
          height: 260px;
        }

        .master-course{
          background: url(../images/study/master-class.png);
        }
        .timetable-course{
          background: url(../images/study/timetable.png);
        }
        .discount-course{
          background: url(../images/study/discounts.png);
        }
      }

      .study-course{
        .study-course-wrap{
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 25px;
        }
        .course-title{
          font-size: 32px;
          line-height: 38px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
        }
        .study-course-wrap:hover{
          .course-title-arrow,
          .course-main-description{
            display: block;
            color: #fff;
          }

          .course-title-description{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .course-main-description{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
          }
          .course-title-arrow{
            display: flex;
            align-items: center;
          }
        }
        .course-title-arrow,
        .course-main-description{
          display: none;
        }
      }
    }
  }

  .models-set-block{
    margin-top: 178px;
    .models-wrap{
      display: flex;
      justify-content: space-between;
      .models-info-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 630px;
        .models-title-info{
          font-size: 40px;
          line-height: 46px;
          font-weight: 700;
          color: $green;
        }
        .models-description{
          font-size: 25px;
          line-height: 31px;
          font-weight: 500;
          span{
            display: block;
          }
          .description-top{
            margin-bottom: 30px;
          }

        }

        .models-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          line-height: 26px;
          font-weight: 600;
          text-decoration: none;
          width: 385px;
          height: 75px;
          color: #fff;
          background-color: $green;
        }

      }
      .models-img{
        background: url(../images/models/model.png);
        width: 498px;
        height: 459px;
      }
    }
  }

  .masterClass{
    .masterClass-title{
      font-size: 35px;
      line-height: 28px;
      font-weight: 600;
      text-align: center;
      margin: 170px 0 30px;
    }
    .masterClass-subtitle{
      text-align: center;
      font-size: 25px;
      line-height: 26px;
      font-weight: 500;
    }
    .masterClass-slider{
      margin: 75px 0 0 0;
      .masterClass-item{
        //width: 520px;
        box-shadow: 0px 13px 19px rgb(0 0 0 / 15%);
        .masterClass-img img{
          width: 100%;
        }
        .masterClass-body{
          display: flex;
          justify-content: space-between;

          .masterClass-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 25px;

            .masterClass-date-info{
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
              color: $dark-grey;
            }
            .masterClass-description{
              font-size: 18px;
              line-height: 24px;
              font-weight: 600;
              color: $dark-grey;
            }
            .masterClass-autors{
              font-size: 18px;
              line-height: 26px;
              font-weight: 400;
            }
          }
          .masterClass-price-block{

            .masterClass-price{
              display: flex;
              height: 132px;
              align-items: center;
              justify-content: center;
              width: 153px;
              background-color: #ECF9EB;
            }
            .masterClass-link{
              width: 100%;
              display: flex;
              height: 98px;
              align-items: center;
              justify-content: center;
              background-color: $green;
            }
          }
        }
      }
    }
  }

  .we-are{
    .we-are-title{
      font-size: 35px;
      line-height: 28px;
      font-weight: 600;
      margin: 170px 0 75px 0;
      text-align: center;
    }
    .we-are-wrap{
      display: flex;
      justify-content: space-between;

      .we-are-item{
        width: 370px;
        height: 315px;
        padding: 40px 20px 0 30px;
        box-shadow: 0px 3px 20px rgba(66, 66, 66, 0.15);
        position: relative;

        .we-are-title-item{
          font-size: 25px;
          line-height: 26px;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .we-are-description{
          font-size: 20px;
          line-height: 23px;
          font-weight: 400;
        }
      }
      .teachers .we-are-img{
        position: absolute;
        bottom: 28px;
        right: 18px;
      }
      .certificates{
        background-color: #B7ECB1;
      }
      .certificates .we-are-img{
        position: absolute;
        top: 28px;
        right: 18px;
      }
      .training .we-are-img{
        position: absolute;
        bottom: 28px;
        right: 18px;
      }
    }
  }

}
